<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216718697638-fh0ntvsmee2nn8u78h8hflmuimo9nrog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216718697638-fh0ntvsmee2nn8u78h8hflmuimo9nrog</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>216718697638-hlkvh60vhdtnv8b2f8lvji0eee6tfii6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfATr60G3NANL_xcVsicfghf78N2o1k0k</string>
	<key>GCM_SENDER_ID</key>
	<string>216718697638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fitnexus.user</string>
	<key>PROJECT_ID</key>
	<string>fitzky-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>fitzky-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216718697638:ios:64a952c9e2d8b512</string>
	<key>DATABASE_URL</key>
	<string>https://fitzky-prod.firebaseio.com</string>
</dict>
</plist>
